flows/Account_manager_setup.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>assigncounter</name>
        <label>assigncounter</label>
        <locationX>1282</locationX>
        <locationY>3326</locationY>
        <assignmentItems>
            <assignToReference>CounterList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopERPrelation.Partner_Counter__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopERPrelation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignogcount</name>
        <label>assignogcount</label>
        <locationX>1320</locationX>
        <locationY>2678</locationY>
        <assignmentItems>
            <assignToReference>OGcount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>OGlistrecords</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>OGcheck</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CounterInteger1</name>
        <label>CounterInteger</label>
        <locationX>1161</locationX>
        <locationY>4226</locationY>
        <assignmentItems>
            <assignToReference>CounterInteger</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>countertointeger</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CounterCheck</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>FinalpartnerCounter</name>
        <label>FinalpartnerCounter1digit</label>
        <locationX>963</locationX>
        <locationY>4442</locationY>
        <assignmentItems>
            <assignToReference>FinalcounterString</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>partnercounter1digit</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateERPrelation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>finalpartnercounter2digit</name>
        <label>finalpartnercounter2digit</label>
        <locationX>1227</locationX>
        <locationY>4550</locationY>
        <assignmentItems>
            <assignToReference>FinalcounterString</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>partnercounter2digit</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateERPrelation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>finalpartnercounter3digit</name>
        <label>finalpartnercounter3digit</label>
        <locationX>1491</locationX>
        <locationY>4550</locationY>
        <assignmentItems>
            <assignToReference>FinalcounterString</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>partnercounter3digit</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateERPrelation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>GetHighestCounter</name>
        <label>HighestCounter</label>
        <locationX>1018</locationX>
        <locationY>3926</locationY>
        <assignmentItems>
            <assignToReference>getcouner1</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopCounter</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopCounter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>getogandprocedureid</name>
        <label>getogandprocedureid</label>
        <locationX>1824</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>OGids</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopOGItem.OrgGroup__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>procedureids</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopOGItem.ERP_Pricing_Procedure__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopOGItem</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>OGUassignment</name>
        <label>OGassignment</label>
        <locationX>1408</locationX>
        <locationY>2378</locationY>
        <assignmentItems>
            <assignToReference>OGidlist</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>getoguids.OrgGroup__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getoguids</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>partnercounter</name>
        <label>partnercounter</label>
        <locationX>699</locationX>
        <locationY>4226</locationY>
        <assignmentItems>
            <assignToReference>FinalcounterString</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>001</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateERPrelation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>partnercounterif0records</name>
        <label>partnercounterif0records</label>
        <locationX>314</locationX>
        <locationY>3110</locationY>
        <assignmentItems>
            <assignToReference>FinalcounterString</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>000</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateERPrelation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>pbcount</name>
        <label>pbcount</label>
        <locationX>1801</locationX>
        <locationY>1946</locationY>
        <assignmentItems>
            <assignToReference>pbcountvariable</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>groupmembercount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pbcountvariable2</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>groupmembercount2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PublicGroupCheck</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>salesarea</name>
        <choiceText>{!Salesarealist}</choiceText>
        <dataType>String</dataType>
    </choices>
    <collectionProcessors>
        <name>highestcounter</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>highestcounter</label>
        <locationX>930</locationX>
        <locationY>3710</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>CounterList</collectionReference>
        <connector>
            <targetReference>LoopCounter</targetReference>
        </connector>
        <limit>1</limit>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortOrder>Desc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <decisions>
        <name>checkcounter</name>
        <label>checkcounter</label>
        <locationX>622</locationX>
        <locationY>3002</locationY>
        <defaultConnector>
            <targetReference>LoopERPrelation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ifnorecords</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetErprelationshipCount</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>partnercounterif0records</targetReference>
            </connector>
            <label>ifnorecords</label>
        </rules>
    </decisions>
    <decisions>
        <name>CounterCheck</name>
        <label>CounterCheck</label>
        <locationX>1161</locationX>
        <locationY>4334</locationY>
        <defaultConnector>
            <targetReference>X2digitcounter</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>greaterthan9</defaultConnectorLabel>
        <rules>
            <name>lessthan10</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CounterInteger</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CounterInteger</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>10.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FinalpartnerCounter</targetReference>
            </connector>
            <label>lessthan10</label>
        </rules>
    </decisions>
    <decisions>
        <name>Customercheck</name>
        <label>Customercheck</label>
        <locationX>925</locationX>
        <locationY>1298</locationY>
        <defaultConnector>
            <targetReference>getUser</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>if present</defaultConnectorLabel>
        <rules>
            <name>ifnotpresent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>erpcustomerid</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Customererroescreen</targetReference>
            </connector>
            <label>ifnotpresent</label>
        </rules>
    </decisions>
    <decisions>
        <name>if000</name>
        <label>if000</label>
        <locationX>930</locationX>
        <locationY>4118</locationY>
        <defaultConnector>
            <targetReference>CounterInteger1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X000</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getcouner1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>000</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>partnercounter</targetReference>
            </connector>
            <label>000</label>
        </rules>
    </decisions>
    <decisions>
        <name>OGcheck</name>
        <label>OGcheck</label>
        <locationX>1320</locationX>
        <locationY>2786</locationY>
        <defaultConnector>
            <targetReference>OGUerrorscreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Access</defaultConnectorLabel>
        <rules>
            <name>ifOGaccess</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OGcount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetERPrelationship</targetReference>
            </connector>
            <label>ifOGaccess</label>
        </rules>
    </decisions>
    <decisions>
        <name>P80check1</name>
        <label>P80check</label>
        <locationX>1736</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>P80errorscreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>ifnotp80</defaultConnectorLabel>
        <rules>
            <name>ifp80</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>clusterfromprocedure</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>P80</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>clusterfromprocedure</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Q80</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getorggrp</targetReference>
            </connector>
            <label>ifp80</label>
        </rules>
    </decisions>
    <decisions>
        <name>PublicGroupCheck</name>
        <label>PublicGroupCheck</label>
        <locationX>1801</locationX>
        <locationY>2054</locationY>
        <defaultConnector>
            <targetReference>Publicgrouperrorscreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>no access</defaultConnectorLabel>
        <rules>
            <name>access</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>pbcountvariable</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>pbcountvariable2</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetOGU</targetReference>
            </connector>
            <label>access</label>
        </rules>
    </decisions>
    <decisions>
        <name>Useralreadyexist</name>
        <label>Useralreadyexist</label>
        <locationX>1150</locationX>
        <locationY>3218</locationY>
        <defaultConnector>
            <targetReference>assigncounter</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>if_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopERPrelation.User__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>selectuser.recordId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>usererrorscreen</targetReference>
            </connector>
            <label>if exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>X2digitcounter</name>
        <label>2digitcounter</label>
        <locationX>1359</locationX>
        <locationY>4442</locationY>
        <defaultConnector>
            <targetReference>finalpartnercounter3digit</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>greaterthan99</defaultConnectorLabel>
        <rules>
            <name>X9to99</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CounterInteger</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>9.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CounterInteger</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>100.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>finalpartnercounter2digit</targetReference>
            </connector>
            <label>9to99</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>DistChannelCode</name>
        <collectionReference>getorggrp</collectionReference>
        <dataType>String</dataType>
        <displayField>ERP_Distribution_Channel_Code__c</displayField>
        <object>OrgGroup__c</object>
        <valueField>ERP_Distribution_Channel_Code__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>DivisionCode</name>
        <collectionReference>getorggrp</collectionReference>
        <dataType>String</dataType>
        <displayField>ERP_Division_Code__c</displayField>
        <object>OrgGroup__c</object>
        <valueField>ERP_Division_Code__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Salesareapicklist</name>
        <collectionReference>getorggrp</collectionReference>
        <dataType>String</dataType>
        <displayField>External_ERP_ID__c</displayField>
        <object>OrgGroup__c</object>
        <valueField>External_ERP_ID__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>salesorgcode</name>
        <collectionReference>getorggrp</collectionReference>
        <dataType>String</dataType>
        <displayField>External_ERP_ID__c</displayField>
        <object>OrgGroup__c</object>
        <valueField>External_ERP_ID__c</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>businessnameforpb</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!BusinessName}, &apos; &apos;, &apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>counter000</name>
        <dataType>String</dataType>
        <expression>&apos;000&apos;</expression>
    </formulas>
    <formulas>
        <name>countertointeger</name>
        <dataType>Number</dataType>
        <expression>VALUE({!getcouner1})+1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>ERPexternalID</name>
        <dataType>String</dataType>
        <expression>{!Erpcustomercluster}&amp;&apos;-&apos;&amp;{!Enter_Customer_code}&amp;&apos;-&apos;&amp;{!formula_sales_org_code}&amp;&apos;-&apos;&amp;{!formula_distribution_code}&amp;&apos;-&apos;&amp;{!formula_division_code}&amp;&apos;-&apos;&amp;{!userepassid}+&apos;-&apos;+&apos;ZU&apos;</expression>
    </formulas>
    <formulas>
        <name>FinalBUname</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!space1}, &apos;&amp;&apos;, &apos;And&apos;)</expression>
    </formulas>
    <formulas>
        <name>formula_distribution_code</name>
        <dataType>String</dataType>
        <expression>MID({!Select_Sales_Area}, 6, 2)</expression>
    </formulas>
    <formulas>
        <name>formula_division_code</name>
        <dataType>String</dataType>
        <expression>RIGHT({!Select_Sales_Area}, 2)</expression>
    </formulas>
    <formulas>
        <name>formula_sales_org_code</name>
        <dataType>String</dataType>
        <expression>LEFT({!Select_Sales_Area}, 4)</expression>
    </formulas>
    <formulas>
        <name>partnercounter1digit</name>
        <dataType>String</dataType>
        <expression>&apos;00&apos;+TEXT({!CounterInteger})</expression>
    </formulas>
    <formulas>
        <name>partnercounter2digit</name>
        <dataType>String</dataType>
        <expression>&apos;0&apos;+TEXT({!CounterInteger})</expression>
    </formulas>
    <formulas>
        <name>partnercounter3digit</name>
        <dataType>String</dataType>
        <expression>TEXT({!CounterInteger})</expression>
    </formulas>
    <formulas>
        <name>salescodeBU</name>
        <dataType>String</dataType>
        <expression>{!FinalBUname}&amp;&apos;-&apos;&amp;{!formula_sales_org_code}</expression>
    </formulas>
    <formulas>
        <name>space1</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!BusinessName}, &apos; &apos;, &apos;&apos;)</expression>
    </formulas>
    <interviewLabel>Account manager setup {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account Manager Association to Customer</label>
    <loops>
        <name>getoguids</name>
        <label>getoguids</label>
        <locationX>1320</locationX>
        <locationY>2270</locationY>
        <collectionReference>GetOGU</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>OGUassignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>GetOGrecords</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopCounter</name>
        <label>LoopCounter</label>
        <locationX>930</locationX>
        <locationY>3818</locationY>
        <collectionReference>CounterList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>GetHighestCounter</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>if000</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopERPrelation</name>
        <label>LoopERPrelation</label>
        <locationX>930</locationX>
        <locationY>3110</locationY>
        <collectionReference>GetErprelationshipCount</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Useralreadyexist</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>highestcounter</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopOGItem</name>
        <label>LoopOGI</label>
        <locationX>1736</locationX>
        <locationY>350</locationY>
        <collectionReference>GetOGItem</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>getogandprocedureid</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>GetProcedure</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateERPrelation</name>
        <label>CreateERPrelation</label>
        <locationX>622</locationX>
        <locationY>4994</locationY>
        <connector>
            <targetReference>Success_message</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>ERP_Customer__c</field>
            <value>
                <elementReference>erpcustomerid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>External_ERP_ID__c</field>
            <value>
                <elementReference>ERPexternalID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name__c</field>
            <value>
                <elementReference>Username</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Partner_Code__c</field>
            <value>
                <elementReference>userepassid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Partner_Counter__c</field>
            <value>
                <elementReference>FinalcounterString</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Partner_Function_Code__c</field>
            <value>
                <stringValue>ZU</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Partner_Function__c</field>
            <value>
                <stringValue>Sales Representative</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User__c</field>
            <value>
                <elementReference>selectuser.recordId</elementReference>
            </value>
        </inputAssignments>
        <object>ERP_Relationship__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>getbuisnessname</name>
        <label>getbusinessname</label>
        <locationX>1736</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetOGItem</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BusinessfromVFpage</elementReference>
            </value>
        </filters>
        <object>OrgGroup__c</object>
        <outputAssignments>
            <assignToReference>BusinessName</assignToReference>
            <field>Business__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetERPCustomer</name>
        <label>GetERPCustomer</label>
        <locationX>925</locationX>
        <locationY>1190</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Customercheck</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3 AND 4 AND 5 AND (6 OR 7)</filterLogic>
        <filters>
            <field>Customer_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Enter_Customer_code</elementReference>
            </value>
        </filters>
        <filters>
            <field>Sales_Org_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>formula_sales_org_code</elementReference>
            </value>
        </filters>
        <filters>
            <field>Distribution_Channel_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>formula_distribution_code</elementReference>
            </value>
        </filters>
        <filters>
            <field>Division_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>formula_division_code</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getextendedrecordtypeid.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Source_Cluster__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>P80</stringValue>
            </value>
        </filters>
        <filters>
            <field>Source_Cluster__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Q80</stringValue>
            </value>
        </filters>
        <object>ERP_Customer__c</object>
        <outputAssignments>
            <assignToReference>erpcustomerid</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>erpcustomername</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Erpcustomercluster</assignToReference>
            <field>Source_Cluster__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetERPrelationship</name>
        <label>GetERPrelationship</label>
        <locationX>622</locationX>
        <locationY>2894</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkcounter</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ERP_Customer__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>erpcustomerid</elementReference>
            </value>
        </filters>
        <filters>
            <field>Partner_Function__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sales Representative</stringValue>
            </value>
        </filters>
        <filters>
            <field>Partner_Function_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ZU</stringValue>
            </value>
        </filters>
        <object>ERP_Relationship__c</object>
        <outputReference>GetErprelationshipCount</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Partner_Counter__c</queriedFields>
        <queriedFields>User__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getextendedrecordtypeid</name>
        <label>getextendedrecordtypeid</label>
        <locationX>925</locationX>
        <locationY>1082</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetERPCustomer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ERP_Customer__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ERP_Customer_Extended_Data</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getgroup</name>
        <label>getgroup</label>
        <locationX>1801</locationX>
        <locationY>1514</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getgroup2</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BusinessName</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>businessnameforpb</elementReference>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>pbbusinessid</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getgroup2</name>
        <label>getgroup2</label>
        <locationX>1801</locationX>
        <locationY>1622</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Groupmember</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>salescodeBU</elementReference>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>pbsalesorgid</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Getgroupmember2</name>
        <label>Getgroupmember2</label>
        <locationX>1801</locationX>
        <locationY>1838</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>pbcount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>pbsalesorgid</elementReference>
            </value>
        </filters>
        <filters>
            <field>UserOrGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>selectuser.recordId</elementReference>
            </value>
        </filters>
        <object>GroupMember</object>
        <outputReference>groupmembercount2</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetOGItem</name>
        <label>GetOGItem</label>
        <locationX>1736</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopOGItem</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Business__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BusinessfromVFpage</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Organizational_Group_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetOGrecords</name>
        <label>GetOGrecords</label>
        <locationX>1320</locationX>
        <locationY>2570</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assignogcount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ERP_Distribution_Channel_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>formula_distribution_code</elementReference>
            </value>
        </filters>
        <filters>
            <field>ERP_Division_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>formula_division_code</elementReference>
            </value>
        </filters>
        <filters>
            <field>ERP_Sales_Org_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>formula_sales_org_code</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>OGidlist</elementReference>
            </value>
        </filters>
        <object>OrgGroup__c</object>
        <outputReference>OGlistrecords</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetOGU</name>
        <label>GetOGU</label>
        <locationX>1320</locationX>
        <locationY>2162</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getoguids</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Sales_Org_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>formula_sales_org_code</elementReference>
            </value>
        </filters>
        <filters>
            <field>Description__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ZU</stringValue>
            </value>
        </filters>
        <filters>
            <field>Business__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BusinessName</elementReference>
            </value>
        </filters>
        <filters>
            <field>Related_User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>selectuser.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Organizational_Group_User__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getorggrp</name>
        <label>getorggrp</label>
        <locationX>925</locationX>
        <locationY>866</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_Manager_Setup</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>OGids</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrgGroup__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetProcedure</name>
        <label>GetProcedure</label>
        <locationX>1736</locationX>
        <locationY>650</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>P80check1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>procedureids</elementReference>
            </value>
        </filters>
        <object>ERP_Pricing_Procedure__c</object>
        <outputAssignments>
            <assignToReference>clusterfromprocedure</assignToReference>
            <field>SAP_Cluster__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getUser</name>
        <label>getUser</label>
        <locationX>1801</locationX>
        <locationY>1406</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getgroup</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>selectuser.recordId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>userepassid</assignToReference>
            <field>E_Pass_ID__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Userid</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Username</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>UserroleId</assignToReference>
            <field>UserRoleId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Groupmember</name>
        <label>Groupmember</label>
        <locationX>1801</locationX>
        <locationY>1730</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Getgroupmember2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>pbbusinessid</elementReference>
            </value>
        </filters>
        <filters>
            <field>UserOrGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>selectuser.recordId</elementReference>
            </value>
        </filters>
        <object>GroupMember</object>
        <outputReference>groupmembercount</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Account_Manager_Setup</name>
        <label>Account Manager Creation</label>
        <locationX>925</locationX>
        <locationY>974</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>getextendedrecordtypeid</targetReference>
        </connector>
        <fields>
            <name>Header</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-family: serif; font-size: 18px;&quot;&gt;&lt;u&gt;Account Manager Association to Customer&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Account_Manager_Setup_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Account_Manager_Setup_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Prerequisites</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Prerequisites for C&lt;/strong&gt;&lt;strong style=&quot;font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;ustomer-A&lt;/strong&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;ccount Manager association:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&quot;&lt;strong&gt;Sold To&lt;/strong&gt;&quot; should be tagged to E&amp;amp;I Business in P80.&lt;/li&gt;&lt;li&gt;&quot;&lt;strong&gt;Sold To&lt;/strong&gt;&quot; should be extended to Sales Org in P80.&lt;/li&gt;&lt;li&gt;User should be part of the User setup for the selected business.&lt;/li&gt;&lt;li&gt;User should have access to Sales Org as an account manager.&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;If the user is not part of the User setup for the required business:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Raise an SFAR of type &quot;Modify Access&quot;.&lt;/li&gt;&lt;li&gt;Get the user setup for that sales org.&lt;/li&gt;&lt;li&gt;Then, raise an issue with the seller account setup.&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Businesstext</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Selected Business&lt;/strong&gt; : {!BusinessName}&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Account_Manager_Setup_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Account_Manager_Setup_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Select_Sales_Area</name>
                    <choiceReferences>Salesareapicklist</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Select Sales Area</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <helpText>&lt;p&gt;It is a combination of sales org code, distribution channel code and division code.&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Account_Manager_Setup_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Account_Manager_Setup_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Account_Manager_Setup_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Enter_Customer_code</name>
                    <dataType>String</dataType>
                    <fieldText>Enter Sold-To-Code</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;Please enter customer code for which you want to align account manager.&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Account_Manager_Setup_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Account_Manager_Setup_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Account_Manager_Setup_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>selectuser</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>CreatedById</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Select Account Manager</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>ERP_Relationship__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Account_Manager_Setup_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Customererroescreen</name>
        <label>Customererroescreen</label>
        <locationX>50</locationX>
        <locationY>1406</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Customererroescreen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Customererroescreen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>headerdisplay1</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-family: serif; font-size: 18px;&quot;&gt;&lt;u&gt;Account Manager Association to Customer&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>CustomerError</name>
            <fieldText>&lt;p&gt;No P80 Customer is found with the entered customer code {!Enter_Customer_code}. Please select only P80 customers&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Exit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>1755</locationX>
        <locationY>5102</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Message</name>
            <fieldText>&lt;p&gt;An error occurred while associating the account manager with the customer. Please raise an issue.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Exit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>OGUerrorscreen</name>
        <label>OGUerror</label>
        <locationX>2019</locationX>
        <locationY>2894</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>OGUerrorscreen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>OGUerrorscreen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>headertitle2</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px; font-family: serif; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;&lt;u&gt;Account Manager Association to Customer&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>OGUerror</name>
            <fieldText>&lt;p&gt;The user {!Username} doesn&apos;t have access to sales area {!Select_Sales_Area} under business &lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;{!BusinessName}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Kindly raise a &lt;u style=&quot;color: rgb(255, 0, 0);&quot;&gt;modify access&lt;/u&gt; SFAR to get the required access&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Exit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>P80errorscreen</name>
        <label>P80errorscreen</label>
        <locationX>2547</locationX>
        <locationY>866</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>P80errorscreen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>P80errorscreen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>headettitle</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px; font-family: serif;&quot;&gt;&lt;u&gt;Account Manager Association for Customer&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>clustererror</name>
            <fieldText>&lt;p&gt;The business  {!BusinessName} does not belong to P80. Please select a business from P80&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Exit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Publicgrouperrorscreen</name>
        <label>Publicgrouperrorscreen</label>
        <locationX>2283</locationX>
        <locationY>2162</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Publicgrouperrorscreen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Publicgrouperrorscreen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>headertitle3</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px; font-family: serif; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;&lt;u&gt;Account Manager Association to Customer&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Publicgrouperror</name>
            <fieldText>&lt;p&gt;The user {!Username} doesn&apos;t have access to the {!BusinessName} business.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Kindly raise a &lt;/span&gt;&lt;u style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;modify access&lt;/u&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt; SFAR to get the required access.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Exit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Success_message</name>
        <label>Success message</label>
        <locationX>622</locationX>
        <locationY>5102</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Add Another User</backButtonLabel>
        <fields>
            <name>Success_message_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Success_message_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>headertitle5</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px; font-family: serif; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;&lt;u&gt;Account Manager Association to Customer&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>SuccessScreen</name>
            <fieldText>&lt;p&gt;&lt;em style=&quot;color: rgb(0, 255, 0); font-size: 16px;&quot;&gt;Account Manager is successfully &lt;/em&gt;&lt;em style=&quot;color: rgb(0, 255, 0); font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;set up.&lt;/em&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Please find below details.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Customer&lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;: {!erpcustomername}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Customer Code&lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;: {!Enter_Customer_code}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Business&lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;:  {!BusinessName}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Sales&lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt; &lt;/span&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Area&lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;: {!Salesareapicklist}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;User&lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;: {!Username}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Exit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>usererrorscreen</name>
        <label>usererrorscreen</label>
        <locationX>1018</locationX>
        <locationY>3326</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Add Another User</backButtonLabel>
        <fields>
            <name>usererrorscreen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>usererrorscreen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>headertitle4</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px; font-family: serif; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;&lt;u&gt;Account Manager Association to Customer&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>usererror</name>
            <fieldText>&lt;p&gt;The user {!Username} is already an Account manager for this sales area {!Salesareapicklist} under customer {!Enter_Customer_code}.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Exit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <sourceTemplate>setup_service_experience__Create_Case</sourceTemplate>
    <start>
        <locationX>1610</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getbuisnessname</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>BusinessfromVFpage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BusinessName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>clusterfromprocedure</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CounterInteger</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>CounterList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ePassId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>Erpcustomercluster</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>erpcustomerid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>erpcustomername</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ERPPricingprocedureids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FinalcounterString</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>getcouner1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>GetErprelationshipCount</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ERP_Relationship__c</objectType>
    </variables>
    <variables>
        <name>groupmembercount</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GroupMember</objectType>
    </variables>
    <variables>
        <name>groupmembercount2</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GroupMember</objectType>
    </variables>
    <variables>
        <name>HighestCountervalue</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>OGcount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>OGidlist</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OGids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OGlistcountrecord</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Organizational_Group_User__c</objectType>
    </variables>
    <variables>
        <name>OGlistrecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrgGroup__c</objectType>
    </variables>
    <variables>
        <name>P80Checklist</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>pbbusinessid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>pbcountvariable</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>pbcountvariable2</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>pbsalesorgid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>procedureids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Salesarealist</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>space</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>userepassid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Userid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Username</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserroleId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
