flows/Approval_Notification_for_Onbehalf.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Onbehalf_Approved_Notification</name>
        <label>Onbehalf Approved Notification</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <actionName>Pricing_Request__c.Onbehalf_Approval_Notification</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Pricing_Request__c.Onbehalf_Approval_Notification</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Bypass_Profiles</name>
        <label>Bypass Profiles</label>
        <locationX>380</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CheckProfile</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Checking_Created_By_Onbehalf</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Checking_Created_By_Onbehalf</name>
        <label>Checking Created By &amp; Onbehalf</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CreatedById</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.On_Behalf_Of__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Onbehalf_Approved_Notification</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Added Bypass Logic</description>
    <environments>Default</environments>
    <formulas>
        <name>CheckProfile</name>
        <dataType>Boolean</dataType>
        <expression>{!$Setup.Global_On_Off_Switch__c.Workflow_Rules__c}</expression>
    </formulas>
    <interviewLabel>Approval Notification for Onbehalf {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Approval Notification for Onbehalf</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Bypass_Profiles</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>1 AND 2 AND(NOT(3 AND (4 OR 5)))</filterLogic>
        <filters>
            <field>On_Behalf_Of__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>Request_Approval_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <filters>
            <field>BU__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>DPP Global Kalrez</stringValue>
            </value>
        </filters>
        <filters>
            <field>SalesArea__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>B953-10-11</stringValue>
            </value>
        </filters>
        <filters>
            <field>SalesArea__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>B953-10-13</stringValue>
            </value>
        </filters>
        <object>Pricing_Request__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
