flows/Pricing_Task_Reminder_to_CSR.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Email_reminder_daily</name>
        <label>Email reminder daily</label>
        <locationX>770</locationX>
        <locationY>900</locationY>
        <actionName>Task.Reminder_for_task_daily</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Task.Reminder_for_task_daily</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Task_Email</name>
        <label>Task Email</label>
        <locationX>242</locationX>
        <locationY>900</locationY>
        <actionName>Task.Reminder_for_task</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Task.Reminder_for_task</nameSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>BU_assign_for_Daily_reminders</name>
        <label>BU assign for Daily reminders</label>
        <locationX>726</locationX>
        <locationY>492</locationY>
        <assignmentItems>
            <assignToReference>BUlist</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_for_Multiple_business_for_Non_Daily_reminders.BU_for_Non_reminders_for_CSR__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_for_Multiple_business_for_Non_Daily_reminders</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>BU_assign_for_Task_reminders</name>
        <label>BU assign for Task reminders</label>
        <locationX>198</locationX>
        <locationY>492</locationY>
        <assignmentItems>
            <assignToReference>BUlist</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_for_Multiple_business_for_Non_Task_reminders.BU_for_Non_reminders_for_CSR__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_for_Multiple_business_for_Non_Task_reminders</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_the_BU_for_Non_Daily_Reminders_to_the_CSR</name>
        <label>Check the BU for Non- Daily Reminders to the CSR</label>
        <locationX>638</locationX>
        <locationY>792</locationY>
        <defaultConnector>
            <targetReference>Email_reminder_daily</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Send Daily Reminder</defaultConnectorLabel>
        <rules>
            <name>Non_Daily_Reminder</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_the_ID_of_the_pricing_task_for_Daily_reminders</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Non- Daily Reminder</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_the_BU_for_Non_Task_Reminders_to_the_CSR</name>
        <label>Check the BU for Non- Task Reminders to the CSR</label>
        <locationX>110</locationX>
        <locationY>792</locationY>
        <defaultConnector>
            <targetReference>Task_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Sent the Task Reminder</defaultConnectorLabel>
        <rules>
            <name>Non_Task_Reminders</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_the_ID_of_the_pricing_task_for_Task_reminders</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Non- Task Reminders</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Pricing Task Reminder to CSR {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Pricing Task Reminder to CSR</label>
    <loops>
        <name>Loop_for_Multiple_business_for_Non_Daily_reminders</name>
        <label>Loop for Multiple business for Non-Daily reminders</label>
        <locationX>638</locationX>
        <locationY>384</locationY>
        <collectionReference>Get_BU_for_Non_Daily_reminders_from_Custom_Metadata_Type</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>BU_assign_for_Daily_reminders</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_the_ID_of_the_pricing_task_for_Daily_reminders</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_for_Multiple_business_for_Non_Task_reminders</name>
        <label>Loop for Multiple business for Non-Task reminders</label>
        <locationX>110</locationX>
        <locationY>384</locationY>
        <collectionReference>Get_BU_for_Non_Task_reminders_from_Custom_Metadata_Type</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>BU_assign_for_Task_reminders</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_the_ID_of_the_pricing_task_for_Task_reminders</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_BU_for_Non_Daily_reminders_from_Custom_Metadata_Type</name>
        <label>Get BU for Non-Daily reminders from Custom Metadata Type</label>
        <locationX>638</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_for_Multiple_business_for_Non_Daily_reminders</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BU_for_Non_reminders_for_CSR__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Non_Reminders_to_the_CSR__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_BU_for_Non_Task_reminders_from_Custom_Metadata_Type</name>
        <label>Get BU for Non-Task reminders from Custom Metadata Type</label>
        <locationX>110</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_for_Multiple_business_for_Non_Task_reminders</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BU_for_Non_reminders_for_CSR__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Non_Reminders_to_the_CSR__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_the_ID_of_the_pricing_task_for_Daily_reminders</name>
        <label>Get the ID of the pricing task for Daily reminders</label>
        <locationX>638</locationX>
        <locationY>684</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_the_BU_for_Non_Daily_Reminders_to_the_CSR</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <filters>
            <field>BU__c</field>
            <operator>In</operator>
            <value>
                <elementReference>BUlist</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Pricing_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_the_ID_of_the_pricing_task_for_Task_reminders</name>
        <label>Get the ID of the pricing task for Task reminders</label>
        <locationX>110</locationX>
        <locationY>684</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_the_BU_for_Non_Task_Reminders_to_the_CSR</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <filters>
            <field>BU__c</field>
            <operator>In</operator>
            <value>
                <elementReference>BUlist</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Pricing_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterLogic>(1 OR 2 OR 3) AND 4</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Waiting on someone else</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>012410000019cET</stringValue>
            </value>
        </filters>
        <object>Task</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>Task_Reminder</name>
            <connector>
                <targetReference>Get_BU_for_Non_Task_reminders_from_Custom_Metadata_Type</targetReference>
            </connector>
            <label>Task Reminder</label>
            <offsetNumber>-5</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>ActivityDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>Daily_reminder</name>
            <connector>
                <targetReference>Get_BU_for_Non_Daily_reminders_from_Custom_Metadata_Type</targetReference>
            </connector>
            <label>Daily reminder</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>ActivityDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>BUlist</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
