flows/Pricing_Task_Reminder_to_CSRS.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Task_Reminder</name>
        <label>Task Reminder</label>
        <locationX>138</locationX>
        <locationY>1992</locationY>
        <actionName>Task.Reminder_for_task</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Task_loop_to_Send_the_reminder</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Task_loop_to_Send_the_reminder.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Task.Reminder_for_task</nameSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>BU_assign_for_Task_reminders</name>
        <label>BU assign for Task reminders</label>
        <locationX>270</locationX>
        <locationY>1068</locationY>
        <assignmentItems>
            <assignToReference>BUlist</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_for_Multiple_business_for_Non_Task_reminders.BU_for_Non_reminders_for_CSR__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_for_Multiple_business_for_Non_Task_reminders</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PR_Assign</name>
        <label>PR Assign</label>
        <locationX>138</locationX>
        <locationY>1584</locationY>
        <assignmentItems>
            <assignToReference>PRAssign</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_for_PR_ID.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_for_PR_ID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Task_Assignment</name>
        <label>Task Assignment</label>
        <locationX>270</locationX>
        <locationY>576</locationY>
        <assignmentItems>
            <assignToReference>RelatedList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Task_Loop.WhatId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Task_Loop</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>BU_Check</name>
        <label>BU Check</label>
        <locationX>182</locationX>
        <locationY>1368</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>BU_Check_for_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_the_ID_of_the_pricing_task_for_Task_reminders</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_for_PR_ID</targetReference>
            </connector>
            <label>BU Check for Email</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_the_non_static_users</name>
        <label>Check the non-static users</label>
        <locationX>402</locationX>
        <locationY>468</locationY>
        <defaultConnector>
            <targetReference>Task_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Static User</defaultConnectorLabel>
        <rules>
            <name>Non_Static_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Task_Loop.Owner:User.Access_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Static</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Task_Assignment</targetReference>
            </connector>
            <label>Non-Static User</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>fTaskreminder</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} + 5</expression>
    </formulas>
    <interviewLabel>Pricing Task Reminder to CSRS {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Pricing Task Reminder to CSRs</label>
    <loops>
        <name>Loop_for_Multiple_business_for_Non_Task_reminders</name>
        <label>Loop for Multiple business for Non-Task reminders</label>
        <locationX>182</locationX>
        <locationY>960</locationY>
        <collectionReference>Get_BU_for_Non_Task_reminders_from_Custom_Metadata_Type</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>BU_assign_for_Task_reminders</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_the_ID_of_the_pricing_task_for_Task_reminders</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_for_PR_ID</name>
        <label>Loop for PR ID</label>
        <locationX>50</locationX>
        <locationY>1476</locationY>
        <collectionReference>Get_the_ID_of_the_pricing_task_for_Task_reminders</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>PR_Assign</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_the_Task_from_the_PR</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Task_Loop</name>
        <label>Task Loop</label>
        <locationX>182</locationX>
        <locationY>360</locationY>
        <collectionReference>Get_the_status_of_the_Task</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_the_non_static_users</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_BU_for_Non_Task_reminders_from_Custom_Metadata_Type</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Task_loop_to_Send_the_reminder</name>
        <label>Task loop to Send the reminder</label>
        <locationX>50</locationX>
        <locationY>1884</locationY>
        <collectionReference>Get_the_Task_from_the_PR</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Task_Reminder</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_BU_for_Non_Task_reminders_from_Custom_Metadata_Type</name>
        <label>Get BU for Non-Task reminders from Custom Metadata Type</label>
        <locationX>182</locationX>
        <locationY>852</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_for_Multiple_business_for_Non_Task_reminders</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BU_for_Non_reminders_for_CSR__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Non_Reminders_to_the_CSR__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_the_ID_of_the_pricing_task_for_Task_reminders</name>
        <label>Get the ID of the pricing task for Task reminders</label>
        <locationX>182</locationX>
        <locationY>1260</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>BU_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>RelatedList</elementReference>
            </value>
        </filters>
        <filters>
            <field>BU__c</field>
            <operator>NotIn</operator>
            <value>
                <elementReference>BUlist</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Pricing_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_the_status_of_the_Task</name>
        <label>Get the status of the Task</label>
        <locationX>182</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Task_Loop</targetReference>
        </connector>
        <filterLogic>(1 OR 2 OR 3) AND 4 AND 5 AND 6 AND 7</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Waiting on someone else</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>012410000019cET</stringValue>
            </value>
        </filters>
        <filters>
            <field>ActivityDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>fTaskreminder</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>ActivityDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_the_Task_from_the_PR</name>
        <label>Get the Task from the PR</label>
        <locationX>50</locationX>
        <locationY>1776</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Task_loop_to_Send_the_reminder</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>In</operator>
            <value>
                <elementReference>PRAssign</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_the_status_of_the_Task</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2024-02-09</startDate>
            <startTime>00:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>BUlist</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PRAssign</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RelatedList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
