flows/RFQ_SharePoint_Approval_Process.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Pricing_Request_for_Approval</name>
        <label>Pricing Request for Approval</label>
        <locationX>446</locationX>
        <locationY>731</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>comment</name>
            <value>
                <stringValue>Auto Submitted through Flow</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>RFQ_SharePoint_Approval_Process</stringValue>
            </value>
        </inputParameters>
        <nameSegment>submit</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assignment_for_B929_10_11</name>
        <label>Assignment for B929-10-11</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.Current_Approver__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0051L00000BiEKD</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_the_Current_Approver</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_for_B974_10_11</name>
        <label>Assignment for B974-10-11</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.Current_Approver__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0054p000003Ynj8</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_the_Current_Approver</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_for_B9FD_10_11</name>
        <label>Assignment for B9FD-10-11</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.Current_Approver__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0051L000008kUTG</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_the_Current_Approver</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_the_Sales_area</name>
        <label>Check the Sales area</label>
        <locationX>446</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>B974_10_11</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SalesArea__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>B974-10-11</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_for_B974_10_11</targetReference>
            </connector>
            <label>B974-10-11</label>
        </rules>
        <rules>
            <name>B929_10_11</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SalesArea__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>B929-10-11</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_for_B929_10_11</targetReference>
            </connector>
            <label>B929-10-11</label>
        </rules>
        <rules>
            <name>B9FD_10_11</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SalesArea__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>B9FD-10-11</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_for_B9FD_10_11</targetReference>
            </connector>
            <label>B9FD-10-11</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>RFQ SharePoint Approval Process {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RFQ SharePoint Approval Process</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_the_Current_Approver</name>
        <label>Update the Current Approver</label>
        <locationX>446</locationX>
        <locationY>623</locationY>
        <connector>
            <targetReference>Pricing_Request_for_Approval</targetReference>
        </connector>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_the_Sales_area</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>1 AND 2</filterLogic>
        <filters>
            <field>CreatedById</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0051L00000Eai3I</stringValue>
            </value>
        </filters>
        <filters>
            <field>Request_Approval_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Validated</stringValue>
            </value>
        </filters>
        <object>Pricing_Request__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
