flows/Update_Partner_function_in_ERP_Relationship_Record.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <description>Update Partner function in ERP Relationship Record</description>
    <formulas>
        <name>NewExternalFieldValue</name>
        <dataType>String</dataType>
        <expression>Substitute({!$Record.External_ERP_ID__c},{!$Record.Partner_Function_Code__c},{!New_Partner_Function_Code_Value})</expression>
    </formulas>
    <interviewLabel>Update Partner function in ERP Relationship Record {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Partner function in ERP Relationship Record</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Fetch_Partner_Function_Code</name>
        <label>Fetch Partner Function Code</label>
        <locationX>176</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Partner_Function_Code</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>P80_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Partner_Function_Code__c</elementReference>
            </value>
        </filters>
        <object>Partner_Function_Code_Mapping__mdt</object>
        <outputAssignments>
            <assignToReference>New_Partner_Function_Code_Value</assignToReference>
            <field>P23_Code__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <description>This action will update the partner function code in ERP relationship record</description>
        <name>Update_Partner_Function_Code</name>
        <label>Update Partner Function Code</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>External_ERP_ID__c</field>
            <value>
                <elementReference>NewExternalFieldValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Partner_Function_Code__c</field>
            <value>
                <elementReference>New_Partner_Function_Code_Value</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Fetch_Partner_Function_Code</targetReference>
        </connector>
        <filterLogic>(1 AND ( 2 OR 3))</filterLogic>
        <filters>
            <field>External_ERP_ID__c</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>P80</stringValue>
            </value>
        </filters>
        <filters>
            <field>Partner_Function_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>YQ</stringValue>
            </value>
        </filters>
        <filters>
            <field>Partner_Function_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>YZ</stringValue>
            </value>
        </filters>
        <object>ERP_Relationship__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>New_Partner_Function_Code_Value</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
