flows/Update_Sales_Org_field_in_Organizational_Group.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <description>The comma in the Sales Org field of the Organizational Group object is generating a difficulty with the Import functionality, therefore flow is eliminating the comma</description>
    <formulas>
        <name>SalesOrg_Eliminatin_Comma</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!$Record.ERP_Sales_Org__c} , &quot;,&quot;, &quot;&quot;)</expression>
    </formulas>
    <interviewLabel>Update Sales Org field in Organizational Group {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Sales Org field in Organizational Group</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_RecordType_Id</name>
        <label>Get_RecordType_Id</label>
        <locationX>176</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SalesOrgField_Update</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ERP_Sales_Area</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>OG_RecordType_Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>SalesOrgField_Update</name>
        <label>SalesOrgField_Update</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OG_RecordType_Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ERP_Sales_Org__c</field>
            <value>
                <elementReference>SalesOrg_Eliminatin_Comma</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_RecordType_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ERP_Sales_Org__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>,</stringValue>
            </value>
        </filters>
        <object>OrgGroup__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>OG_RecordType_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
